@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .py-navbar-item {
        @apply py-6;
    }

    .pt-navbar-item {
        @apply pt-6;
    }

    .pb-navbar-item {
        @apply pb-6;
    }

    .px-navbar-item {
        @apply px-5;
    }

    .pl-navbar-item {
        @apply pl-3;
    }

    .pr-navbar-item {
        @apply pr-3;
    }

    .text-primary,
    .text-strong {
        color: #645832;
    }

    .text-soft {
        color: #d1c7a3;
    }

    .bg-primary {
        background-color: #ebe6d7;
    }

    .bg-strong {
        background-color: #645832;
    }

    .bg-soft {
        background-color: #d1c7a3;;
    }

    .border-bg-strong {
        border-color: #645832;
    }

    .border-bg-soft {
        border-color: #d1c7a3;
    }

    .font-monsterrat {
        font-family: 'Monserrat', sans-serif;
    }

    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 1px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .2s ease-in-out;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    }

    .link-underline:hover {
        background-size: 100% 1.5px;
        background-position: 0 100%
    }
}

@layer components {
    .btn-primary {
        @apply text-white bg-stone-600 py-2 px-4 rounded shadow-md hover:bg-stone-900 active:bg-stone-800 transition-colors;
    }

    /* pagination overrides */
    .product-pagination {
        @apply rounded-none;
    }

    .product-pagination a,
    .product-pagination span {
        @apply text-stone-600 bg-primary border-0 rounded-none shadow-none focus:outline-none focus:ring-0 mx-1 aria-disabled:hidden;
    }

    .product-pagination p>span {
        @apply text-stone-600;
    }

    .product-pagination a {
        @apply active:bg-black active:text-soft focus:bg-black hover:bg-black hover:text-soft;
    }

    .product-pagination span,
    .product-pagination span > svg {
        @apply text-stone-400;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #645832;
}

.wysiwyg-content h3,
.wysiwyg-content h4 {
    font-weight: 600;
    margin-top: 1rem;
}

.wysiwyg-content table>tbody>tr>td {
    padding: 0.25rem 0.125rem;
}

.wysiwyg-content table>tbody>tr>td:first-child {
    font-weight: bold;
}

.table>tbody>tr>td,
.table>thead>tr>th {
    padding: 0.5rem;
}

.table-sm>tbody>tr>td,
.table-sm>thead>tr>th {
    padding: 0.25rem;
}

.wysiwyg-content.text-black {
    white-space: pre-line;
}